<div class="container mt-5" style="width: 50%;">
    <h2>Add new category</h2>
    <form action="/category/" method="POST" >
        <input type="text" class="form-control p-4 mt-5" placeholder="Name" name="name">
        <input type="submit" class="form-control btn btn-primary mt-5 p-4" value="Save" >
    </form>
</div>