<div class="container mt-5">
    <a href="/category/add" type="button" class="btn btn-primary btn-lg">Add new category</a>
    <h1>List Category</h1>
    <table class="table table-dark table-hover">
        <tr>
            <th>Category Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <%
        categories.map(cate=>{%>
            <tr>
                <td><%= cate.name%></td>
                <td><a href="/" class="btn btn-warning">Edit</a></td>
                <td><a href="/" class="btn btn-danger">Delete</a></td>
            </tr>
            <%})
        %>
      </table>
</div>